[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-bcrypt = "*"
pyjwt = "*"
psycopg2-binary = "*"
bcrypt = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.9"
